---
http_interactions:
- request:
    method: post
    uri: http://koji.fedoraproject.org/kojihub
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><methodCall><methodName>listTagged</methodName><params><param><value><string>f19-ruby</string></value></param><param><value><nil/></value></param><param><value><boolean>0</boolean></value></param><param><value><nil/></value></param><param><value><boolean>1</boolean></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Apptime:
      - D=4530989
      Appserver:
      - koji03.phx2.fedoraproject.org
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><array><data>

        <value><struct>

        <member>

        <name>build_id</name>

        <value><int>401902</int></value>

        </member>

        <member>

        <name>owner_name</name>

        <value><string>vondruch</string></value>

        </member>

        <member>

        <name>package_name</name>

        <value><string>rubygem-rack-accept</string></value>

        </member>

        <member>

        <name>task_id</name>

        <value><int>5112009</int></value>

        </member>

        <member>

        <name>state</name>

        <value><int>1</int></value>

        </mem[...]
[...]
